/* 定义字体 */
@font-face {
    font-family: 'ZiHun';
    src: url('fonts/ZiHun144Hao-LangYuanTi-2.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 标题栏样式 */
header {
    background: #904915;
    color: #ffee00;
    padding: 15px 0;
    text-align: center;
    font-family: 'ZiHun', sans-serif;
    font-size: 2em;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-shadow: 2px 2px 0 #000000, -2px -2px 0 #000000, -2px 2px 0 #000000, 2px -2px 0 #000000, 2px 0px 0 #000000, 0px 2px 0 #000000, -2px 0px 0 #000000, 0px -2px 0 #000000;
}

.plants {
    color: #00cc00;
    /* 绿色 */
}

.vs {
    color: #ffffff;
    /* 白色 */
}

.zombies {
    color: #b0b0b0;
    /* 灰色 */
}

.Po {
    color: #ffffff;
}


body {
    
    line-height: 1.6;
    /* background: #f0f0f0; */
    background: #fdc886;
    color: #000000;
}

/* 主要内容样式 */
main {
    width: 70%;
    margin: 80px auto 0 auto;
    /* 上边距 80px，左右自动，底边距 0 */
    padding: 20px;
    transition: margin-left 0.3s ease;
}

/* 针对标题栏遮挡问题，增加顶部外边距 */
section {
    scroll-margin-top: 80px;
    /* 设置为标题栏的高度 */
    background: #ffffff;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

section h2 {
    text-align: center;
}

section ul {
    margin-right: 20px;
    margin-left: 20px;
}

section hr {
    margin-top: 20px;
    margin-bottom: 20px;
}

section:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    /* 鼠标悬停时的阴影效果 */
}

.gallery {
    width: 100%;
}

.gallery h3 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.gallery img {
    display: block;
    /* 将图片设置为块级元素 */
    margin: 2px auto;
    /* 自动设置左右外边距使其水平居中 */
    width: 80%;
    height: auto;
    cursor: pointer;
    transition: transform 0.3s ease;
    /* 平滑的放大/缩小过渡效果 */
}

.gallery img.enlarged {
    transform: scale(1.5);
    /* 放大图片 */
}

/* 目录栏样式 */
#sidebar {
    position: fixed;
    height: 70%;
    width: 15%;
    background: #904915;
    padding: 20px;
    transition: width 0.3s ease;
    border-radius: 8px;
    box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);
    top: 100px;
    left: 7px;
    display: flex;
    flex-direction: column;
    font-family: 'ZiHun', sans-serif;
}

/* 目录标题保持不动 */
#sidebar h2 {
    margin-left: 15px;
    margin-bottom: 10px;
    position: sticky;
    top: 0;
    z-index: 1;
    padding-bottom: 10px;
    color: #ffffff;
}

/* 使目录项可以滚动 */
#sidebar nav {
    flex-grow: 1;
    overflow-y: auto;
}

#sidebar nav {
    scrollbar-width: none;
}


#sidebar nav ul {
    list-style: none;
}

#sidebar nav ul li {
    margin-bottom: 10px;
    width: auto;
}

#sidebar nav ul li a {
    color: #333333;
    background: #fdc886;
    /* 深灰色文字 */
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    border-radius: 4px;
    transition: background 0.3s ease;
}

#sidebar nav ul li a:hover {
    background: #e0e0e0;
    /* 浅灰色背景 */
}

/* 固定图片样式 */
#fixedImage {
    position: fixed;
    right: 10px;
    bottom: 20px;
    width: 15%;
    transition: transform 0.3s ease;
}

#fixedImage img {
    width: 100%;
    height: auto;
}

#fixedImage:hover {
    transform: translateY(-5px);
}

/* 菜单按钮样式 */
#menuButton {
    display: none;
    position: fixed;
    top: 10px;
    left: 10px;
    background: #000000;
    /* 黑色背景 */
    color: #ffffff;
    /* 白色文字 */
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1001;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.copyright p {
    font-size: 14px;
    color: #666;
    text-align: center;
    margin: 0;
}

#music-player {
    position: fixed;
    bottom: 10px;
    left: 7px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

#playPauseBtn {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #ffffff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

#playPauseBtn:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

#icon {
    margin-right: 10px;
    width: 20px;
    height: 20px;
}

#musicName{
    font-family: 'ZiHun', sans-serif;
}

@keyframes rotate {  
    0% {  
        transform: rotate(0deg);  
    }  
    100% {  
        transform: rotate(360deg);  
    }  
}  
  
.rotating {  
    animation: rotate 2s linear infinite; /* 2秒旋转一圈，无限循环 */  
}



/* 手机视图样式 */
@media (max-width: 768px) {
    #sidebar {
        position: fixed;
        width: auto;
        left: -100%;
        transition: left 0.3s ease;
        z-index: 1000;
    }

    #menuButton {
        display: block;
    }

    #sidebar.open {
        left: 0;
    }

    #fixedImage {
        display: none;
    }

    main {
        width: auto;
        margin-left: 0;
    }

    header {
        font-size: 1em;
    }
}